# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pids
*.pid

# Dependency directories
node_modules/
jspm_packages/
gun/node_modules

# Distribution directories
dist/
build/
out/
tmp/
*.tmp/
public/assets/
public/build/
public/bundle.js
web_modules/
.DS_Store

# Environment variables
.env.local
.env.development.local
.env.test.local
.env.production.local

# IDE settings
.idea/
.vscode/
*.swp

# Miscellaneous
*.DS_Store
*.env
*.md
npm-debug.log*
yarn-error.log*
yarn.lock
package-lock.json
